.description-page{
    background-color: #FC0000;
    color: white;
}

.description-page a{
    color: white;
    text-decoration: none;
}

.submission{
    display: flex;
    justify-content: center;
}

.card{
    width: 1080px;
}

.btn btn-success{
    display: inline-block;
}
.card ul{
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    line-height: 42px;
}

.card p{
    font-size: 20px;
}

